h1 {
  color: black;
}

.gallery {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
}

div.gallery > img {
  margin: 0.5em;
  max-width: 439px;
}

@media only screen and (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
